@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p {
        @apply my-1.5 mx-auto leading-snug;
    }
    p, span, h1, h2, h3, h4, h5, h6 {
        @apply antialiased;
    }
    html, body {
        @apply bg-body m-0 p-0;
    }
    hr {
        @apply h-[2px] w-[100%] m-0 p-0;
    }
    a {
        @apply text-blue-700 visited:text-purple-700 transition-colors duration-200;
    }
    a:hover {
        @apply underline text-[#bb2244];
    }
}

@layer components {
    .note {
        @apply italic text-2xs text-gray-500 font-normal;
    }
    .dirheader {
        @apply text-[2rem] font-bold underline;
    }
    .dirlist {
        @apply text-[1.2rem] list-disc ml-12 mb-3 leading-6;
    }
    .gradient {
        @apply bg-clip-text text-transparent;
    }
    .shortruler {
        @apply my-4 mx-auto w-[75%];
    }
    .picture {
        @apply rounded-md shadow-md shadow-white/20 hover:shadow-2xl hover:shadow-white/50 transition-shadow duration-300;
    }
}
